<h2>Almost there, please tell us the last few bits ...</h2>

<form>  
  <h3>Accomodation type:</h3>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" name="luxury">
    <label class="form-check-label">
      Luxury Hotels
    </label>
    <input class="form-check-input" type="checkbox" name="budget">
    <label class="form-check-label">
      Budget Hotels
    </label>
    <input class="form-check-input" type="checkbox" name="guest">
    <label class="form-check-label">
      Guest house / Home stay 
    </label>
  </div>
  <h3>Transportation:</h3>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" name="luxury">
    <label class="form-check-label">
      Luxury
    </label>
    <input class="form-check-input" type="checkbox" name="economy">
    <label class="form-check-label">
      Economy
    </label>
  </div>
  <button class="btn btn-primary" type="submit" routerLink="/tracks">Back</button>
  <button class="btn btn-primary" type="submit" routerLink="/duration">Next...</button>

</form>