<h2>Great! Now choose what you are interested in ...</h2>
<h3>(Select at least one, you can select multiple interests)</h3>

<form #userForm="ngForm" (ngSubmit)="submit()">  

  {{ userForm.value | json }}
  
  <div class="form-check mb-3">
    <label *ngFor="let track of tracks">
      <input type="checkbox" name={{track.Interest}} ngModel>
      {{track.Interest}}
    </label>
  </div>
  <button class="btn btn-primary" type="button" routerLink="/">Back</button>
  <button class="btn btn-primary" type="submit">Next...</button>

</form>