<h2>Please tell us how long your trip will be and how many travellers are there in your group</h2>


<form #userForm="ngForm" (ngSubmit)="submit()">
  <h3>Duration:</h3>
  <div class="form-group">
    <select class="custom-select" name="duration" [(ngModel)]="trips.tripDays">
      <option *ngFor="let day of days">{{ day }}</option>
    </select>
  </div>
  <h3>Group Details:</h3>
  <div class="form-group">
    <label>Adults</label>
    <select class="custom-select" name="adults" [(ngModel)]="trips.adults">
      <option *ngFor="let number of numbers">{{ number }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Children</label>
    <select class="custom-select" name="children" [(ngModel)]="trips.children">
      <option *ngFor="let number of numbers">{{ number }}</option>
    </select>
  </div>
  <button class="btn btn-primary" type="button" routerLink="/details">Back</button>
  <button class="btn btn-primary" type="submit">Next...</button>

</form>