<h2>Please tell us how long your trip will be and how many travellers are there in your group</h2>

<form>  
  <h3>Duration:</h3>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" name="5to7">
    <label class="form-check-label">
      5 - 7 Days
    </label>
    <input class="form-check-input" type="checkbox" name="8to10">
    <label class="form-check-label">
      8 - 10 Days 
    </label>
    <input class="form-check-input" type="checkbox" name="over10">
    <label class="form-check-label">
      Over 10 Days 
    </label>  
  </div>
  <h3>Group Details:</h3>
  <div class="form-group">
    <select class="custom-select" name="adult">
      <option value="default">Adults</option>
      <option *ngFor="let number of numbers">{{ number }}</option>
    </select>
  </div>
  <div class="form-group">
    <select class="custom-select">
      <option value="default">Children (below age 10)</option>
      <option *ngFor="let number of numbers">{{ number }}</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit" routerLink="/details">Back</button>
  <button class="btn btn-primary" type="submit">Next...</button>

</form>