<h2>Start by selecting where you wish to go ...</h2>
<h3>(Select at least one, you can select multiple destinations)</h3>

<form #userForm="ngForm" (ngSubmit)="submit()">  
  
  <!-- {{ userForm.value | json }} -->

  <div class="form-check mb-3">  
    <label *ngFor="let dest of destinations">
      <div *ngIf="trips.destinations.indexOf(dest.Destination)==-1; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><input type="checkbox" name={{dest.Destination}} ngModel>{{dest.Destination}}</ng-template>
      <ng-template #elseBlock><input type="checkbox" name={{dest.Destination}} [ngModel]="true">{{dest.Destination}}</ng-template>      
    </label>
    <!-- <label formArrayName="dests" *ngFor="let dest of form.controls.dests.controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      {{destinations[i].Destination}}
    </label> -->
  </div>
  <button class="btn btn-primary" type="submit">Next...</button>

</form>